*{
    box-sizing: border-box;
    width: 100%
}

body{
    font-family: arial;
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background: #553175;
    color: white;
}

.navbar {
    display: flex;
    background-color: blue;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.section{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.right{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.imgph {
    background-color: #aaa;
    width: 100%;
    height: 60px;
    padding: 20px;
}

.imgph2{
    background-color: #aaa;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: #553175;
    color: white;
}
@media screen and (max-width: 768px) {
    .navbar, .section{
        flex-direction: column;
    }
}